<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="Noticias">
 <content has-header="true" has-tabs="true">
      <div class="list">
        <a class="item item-avatar" href="#">
          <img src="img/venkman.jpg">
          <h2>Venkman 1 </h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/venkman.jpg">
          <h2>Venkman 2 </h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
        
        <a class="item item-avatar" href="#">
          <img src="img/venkman.jpg">
          <h2>Venkman 3 </h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/venkman.jpg">
          <h2>Venkman 4 </h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
    </div>
  </content>
</view>
