
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

 <!-- Home Tab -->
  <tab title="Home" icon="icon ion-home" href="#/home">
    
  </tab>

  <!-- Senior Tab -->
  <tab title="Senior" icon="icon ion-star" href="#/tab/senior">
    <nav-view name="senior-tab"></nav-view>
  </tab>


  <!-- Juvenil Tab -->
  <tab title="Juvenil" icon="icon ion-heart" href="#/tab/juvenil">
    <nav-view name="juvenil-tab"></nav-view>
  </tab>


  <!-- Cadete Tab -->
  <tab title="Cadete" icon="icon ion-search" href="#/tab/cadete">
    <nav-view name="cadete-tab"></nav-view>
  </tab>




</tabs>
